<form (ngSubmit)="onSublime(itemForm)" class="form w-50" #itemForm="ngForm">
    
  <input type="text"
    name="product"
    placeholder="Producto" 
    class="form-control"
    [(ngModel)]="item.product"
    required
    minlength="1"
    maxlength="50" 
    #product="ngModel">

    @if(product.invalid && (product.dirty || product.touched)){
      @if(product.errors!['required']){
        <div class="text-danger">
          Nombre del prodcuto requerido!
        </div>
      }

      @if(product.errors!['minlength']){
        <div class="text-danger">
          Cantidad minima de caracteres de 5
        </div>
      }
    }

    <input type="number"
    name="quantity"
    placeholder="Cantidad" 
    class="form-control"
    [(ngModel)]="item.quantity"
    required
    minlength="1"
    maxlength="10" 
    #quantity="ngModel" >

    @if(quantity.invalid && (quantity.dirty || quantity.touched)){
      @if(quantity.errors!['required']){
        <div class="text-danger">
          Cantidad requerido!
        </div>
      }

      @if(quantity.errors!['minlength']){
        <div class="text-danger">
          Cantidad minima de caracteres de 1
        </div>
      }
    }    
    
    <input type="number"
    name="price"
    placeholder="Precio" 
    class="form-control"
    [(ngModel)]="item.price"
    required
    minlength="1"
    maxlength="10"
    #price="ngModel" >

    @if(price.invalid && (price.dirty || price.touched)){
      @if(price.errors!['required']){
        <div class="text-danger">
          precio requerido!
        </div>
      }

      @if(price.errors!['min']){
        <div class="text-danger">
          precio minima de caracteres de 1
        </div>
      }
    }    

    <button class="btn btn-primary m-3" [disabled]="itemForm.invalid"
    >Guardar</button>

</form>